h1{
    background-color:#004aad;
    text-align: center;
    padding: 50px;
    font-size: 100px;
    font-style: normal;
    color: white;
    
}
*{
    padding: 0px;
    margin: 0px;
}
nav{
    background-color: grey;
    text-align: center;
    padding: 20px;

}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #ffd700;
}
.bro{
    
    padding: 50px;
    
    color:blue ;
    background-color: white;
    border-radius: 10px;

}
p{
    padding: 30px;
    font-size: 30px;
}

.material-symbols-outlined {
   
    font-size: 300px;
    color: blue;
    background-color: brown;
    text-align: center;
    
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}
.content {
    padding: 20px;
    background-color: rgb(208, 205, 205);
    margin: 20px;
    border-radius: 20px;
}

.content h2 {
    color: hsl(214, 100%, 34%);
}
.content h3{
    color: #ffd700;
}
 *{
        margin: 0px;
        padding: 0px;
    }
    img{
        height: 600px;
        width: 700px;

    }
    header{
         background-color:#004aad;
    text-align: center;
    padding: 50px;
    font-size: 100px;
    font-style: normal;
    color: white;
    
    }
    .contain{
        display: flex;
        align-items: center;
        gap: 30px;



    }
    p{
        font-size: 40px;
    }
    h2{
        text-align: center;
        background-color: rgb(223, 213, 213);
        margin: 0px;

        font-size: 50px;
    }
    nav {
    background-color: #003366;
    padding: 10px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    color: #003366;
}

p {
    font-size: 40px;
    
}
   

    
  
